* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 30px;
  font-family: sans-serif;
}

#main {
  height: auto;
  width: 450px;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 100px auto;
  padding: 7px;
  background-color: rgb(232, 208, 208);
}

.display-container {
  margin: 15px auto 0px auto;
  height: 20%;
  min-height: 100px;
  width: 100%;
  /* border: 1px solid black; */
}

.display {
  height: 70px;
  width: 95%;
  margin: 15px auto 5px auto;
  border: px black solid;
  /* position: relative; */
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
}

.display-screen {
  height: 80%;
  width: 100px;
  padding-left: 5px;
  padding-top: 5px;
}

.button-container {
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1px;
  background-color: rgb(232, 208, 208);
  padding: 10px;
}

.buttons {
  background-color: rgba(255, 255, 255);
  text-align: center;
  padding: 10px 0;
}

.buttons:hover {
  background-color: rgb(220, 220, 133);
  cursor: pointer;
}

.bg-red {
  background-color: rgb(233, 31, 31);
}

.span-2 {
  grid-column: span 2;
}
